/* 在 static/css/style.css 中 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7cac9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #91a8d0;
    font-size: 56px;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 32px auto;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

li:hover {
    background-color: #f9f9f9;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li:nth-child(odd) {
    background-color: #efefef;
}

li:nth-child(odd):hover {
    background-color: #e9e9e9;
}

img {
    max-width: 100%; /* 让图片宽度不超过其容器宽度 */
    height: auto; /* 保持图片的原始宽高比 */
    display: block; /* 避免图片下方出现空隙 */
    margin: 0 auto; /* 如果需要，使图片在容器中居中 */
    width: 25%; /* 圖片大小，可換成任何希望的百分比 */
}

/* 更改文本颜色 */
p.alert {
    color: #fff;
    background-color: #91a8d0;
    border: 2px solid #91a8d0;
    margin-top: 36px;
}

/* 更改文本字体大小 */
p.alert {
    font-size: 28px;
}

/* 自定义滑动条样式 */
input[type="range"].form-range {
    -webkit-appearance: none; /* Override default appearance */
    width: 100%; /* Full-width */
    margin: 20px 0; /* Margin for label */
}

input[type="range"].form-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* 其他样式 */
}

/* Customize the slider thumb (the draggable circle) */
input[type="range"].form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #91a8d0; /* Slider handle color */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%; /* Circular shape */
}

input[type="range"].form-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #91a8d0;
    cursor: pointer;
    border-radius: 50%;
}

.form-check {
    margin-left: 20px; /* 调整这个值以适应您的设计 */
}

/* 未选中的勾选框样式 */
.form-check-input{
    /* 添加自定义样式，例如颜色或边框 */
    border: 2px solid #e67ea3 !important;
    background-color: #fff !important;
    /* 可以添加其他样式，如大小和形状 */
}
/* 选中的勾选框样式 */
.form-check-input:checked{
    /* 添加自定义样式，例如背景颜色或图标 */
    background-color: #e67ea3 !important;
    border: 2px solid #e04c80 !important;
}

/* 鼠标悬停在勾选框上的样式 */
.form-check-input:hover{
    /* 添加悬停样式，例如改变颜色或添加阴影 */
    box-shadow: 0 0 5px #e04c80;
}

/* 勾选框的标签样式 */
label.form-check-label {
    /* 添加标签的样式，例如字体颜色和大小 */
    font-size: 20px;
    color: #e67ea3;
}

/* 頁碼, url */
.pagination {
    display: flex;
    justify-content: center; /* 水平居中 */
    list-style: none; /* 移除默认列表样式 */
    padding: 5px;
}

.page-item {
    margin: 0 5px; /* 添加一些间隔 */
}

.page-link {
    color: #91a8d0; /* 链接颜色 */
    text-decoration: none; /* 移除下划线 */
    padding: 4px 8px;
    border: 1px solid #dee2e6;
    border-radius: 5px; /* 圆角边框 */
}

.page-link:hover {
    color: #91a8d0;
    background-color: #e9ecef;
    padding: 5px 10px;
}

/* 为表头设置不同的背景色 */
.table thead th{
    background-color: #91a8d0;
}

/* 条纹样式（斑马纹） */
.table tr:nth-child(even) {
    background-color: #a9b7ce;
}
.table tr:nth-child(odd) {
    background-color: #c1c7d2;
}

@media (max-width: 600px) {
    li {
        margin: 10px 5px;
    }
}
